body {
    font-family: "Open Sans";
    background-color: #FBFBFB;
    margin: 0;

    

}
.main-wrapper {

   
    margin-top: 60px;
    padding: 20px;
   z-index: -50px;
   


}
header {
    position: fixed;
    background: #903938;
    height: 45px;
    width: 100%;
}
.top-nav {

    position: absolute;
    height: 45px;
    left: 0;
    right: 0;
    top: 0;
    background-position: center right;
    background-repeat: no-repeat;


}

.left-head {

    max-width: 700px;
    position: absolute;
    padding-left: 45px;
    height: 45px;
    background-color: #903938;


}


.left-head .logo-box {
    padding-top: 5px;

    display: table;
    position: relative;
    width: 600px;

}
.left-head .logo-box .logo,
.left-head .logo-box .header-text {
    display: table-cell;

    vertical-align: middle;
    padding-bottom: 5px;
    padding-right: 0;
    width: 260px;

}
.left-head .logo-box .logo {
    width: 37px;
    padding-right: 11px;
    padding-bottom: 5px;
}
.left-head .logo-box .logo img {
    width: 100%;
    display: table;
}
.left-head .logo-box .bird {
    display: table-cell;
    width: 75px;
    height: 40px;
    margin-bottom: 5px;
}

.menu {

    width: 42px;
    height: 42px;
    MARGIN-BOTTOM: 0;
    position: absolute;
    top: 0;
    left: 0;
}


.header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;


    text-transform: uppercase;


    color: #FFFFFF;
}
.right-head {
    width: auto;
    float: right;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    height: 45px;
    background-color: #903938;
}

.right-head .user-box {
    padding-top: 5px;

    display: inline-block;
   
    width: auto;
}

.right-head .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CE7A58;
    display: inline-block;
    line-height: 18px;
    margin: 3px 0 13px -8px;
    text-align: center;
    color: #FFFFFF;
}


.right-head .info {
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 60px;
    font-size: 22px;
    color: #ffffff;
    display: table-cell;
    line-height: 27px;
    vertical-align: middle
}
.right-head .n {
    width: auto;
    height: auto;
    padding: 0 15px 59px;
    margin: 25px 23px 25px 22px;
    font-size: 22px;
    color: #ffffff;
    display: table-cell;
    line-height: 27px;
    vertical-align: middle;


}


.user-box .dropdown {

    width: auto;
    height: auto;
    color: #ffffff;
    padding-left: 7px;
    font-size: 17px;

}

.user-box span .noti {
    margin-bottom: 10px;
}


.ava {

    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 10px;
}
.ava.-x32 {
    width: 32px;
    height: 32px;
}
.ava.-x24 {
    width: 24px;
    height: 24px;
}
.ava.-x64 {
    width: 64px;
    height: 64px;
}
.user {display: block;
width: 210px;
height: 40px;}

.right-head .user-box .user-text {
    margin-bottom: 0;
    font-size: 14px;
 
    font-weight: 400;
    margin-top: 10px;
    vertical-align: middle;
  
    color: #FFFFFF;
}

.sidebar {


    height: 100%;
    width: 42px;
    position: fixed;
    top: 45px;


    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;

    white-space: nowrap;
    border-right: 2px solid #C3C8D2;
}
.sidebar:hover {
    left: 0
}
.sidebar .menus {

    top: 0;
    left: 0;

    right: 0;
    bottom: 0;
}

.sidebar a {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    align-items: center;

    /* Text/A */

    color: #292D34;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    width: 400px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.sidebar .menus li.open > ul {
    display: block;
}
.sidebar .menus li.open > a .down:before {
    content: "î„";
}
.sidebar .menus > li:last-child {
    border-bottom: 0;
}


.sidebar .menus > li > a:hover {
    background: rgba(255, 255, 255, 0.1);
}
.sidebar .menus .icon-text {

    border: none;
    width: 280px;
    padding-left: 15px;

    height: auto;
}
.sidebar .menus li a .down {
    position: absolute;
    top: 10px;
    font-size: 16px;
    right: 28px;


}

.sidebar .fas:active {
    border-radius: 4px;
    background-color: #CE7A58;
    color: #ffffff;
}
.sidebar:hover .fas:focus {
    border-radius: 4px;
    background-color: #CE7A58;
    color: #ffffff;
}

.sidebar ul {
    display: relative;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.sidebar .menus li .fas {
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: #82858A;
    text-align: center;
    vertical-align: middle;

    line-height: 30px;


}


.sidebar .menus li {
    position: relative;

}
.sidebar .menus ul {
    display: none;
}


.sidebar .menus a:hover {
    background-color: #F3F3F3;
    border-left: 2px solid #f59761;
    border-bottom: 2px solid #f59761;


}

.sidebar:hover {
    width: 380px;
}


.link-page {
    height: 42px;
    width: 100%;
    background-color: #F2F2F2;
   

    z-index: -30;
    padding: 42px 120px 0px 40px;
    align-items: center;
   


}

.link-page a {
    text-decoration: none;
    display: flex;
    margin-top: 4px;
    padding-top: 5px;

    font-size: 14px;
    line-height: 22px;
    display: inline-block;


    align-items: center;

    color: #82858A;
}

.link-page a .fas {
    font-size: 14px;
    color: #903938;
    padding-left: 15px;
    padding-right: 5px;
    line-height: 20px;
}
.link-page a .icon-text-1 {
    padding-left: 3px;
}
.link-page a .page-selected {
    font-size: 14px;
    color: #000;
    display: relative;
    font-size: 14px;
    line-height: 22px;
    padding-left: 5px;


    display: block;

}

.search-page {
    position: absolute;
    display: block;
    width: 90%;
    height: 100%;
    align-items: center;
    margin-top: 100px;
    margin-left: 20px;

    z-index: -30;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.search-box {
    border: 1px solid #E9EBF0;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;

    width: auto;
    height: auto;

    padding: 20px;

}

.search-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    
    
    color: #292D34;
 
}

.search-bar .search-left {

    position: relative;
    font-size: 16px;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 47%;
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    margin: 0 5px 10px 0;
}

.search-bar .search-right {

    font-size: 16px;
    display: block;
    float: right;
    box-sizing: border-box;
    width: 47%;
    width: -webkit-calc(50% - 5px);
    margin: 0 0 10px 5px;
}

.search-bar .search-text {
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    padding-left: 10px;

}

.search-right .search-text {
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 98%;
    height: 36px;
    padding-left: 10px;


}
::placeholder {
    font-weight: normal;
    font-size: 14px;

    width: 100%;
    color: #292D34;
}
.search-buttons {
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    


}
.clearfix {
    clear: both;
}
.search-box button {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    padding-right: 23px;
    padding-left: 23px;
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #C3C8D2;


    align-items: center;


    color: #CE7A58;
    border-radius: 4px;
    background-color: #ffffff;
    height: 32px;
}

.search-box button:hover {
    background-color: #CE7A58;
    border: 1px solid#CE7A58;
    color: #ffffff;
}

.search-box button:focus {
    background-color: #CE7A58;
    border: 1px solid#CE7A58;
    color: #ffffff;
}

.search-box .btnsearch {
    color: #ffffff;
    background-color: #CE7A58;
    border: 1px solid#CE7A58;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding-right: 23px;
    padding-left: 23px;
    height: 32px;
}

.search-box .btnsearch:hover {
    background-color: #d1a28f;
    border: 1px solid #d1a28f;
}

.search-box .btnsearch:focus {
    background-color: #d1a28f;
    border: 1px solid #d1a28f;
}

.search-left label {
    font-size: 14px;
    line-height: 22px;


    align-items: center;


    color: #292D34;
}


.search-left .cb {

    display: block;


    position: absolute;
    height: 23px;
    width: 123px;
    top: 0;
    right: 0;
    margin: 10px;

}


.search-left .search-text {
    width: 70%;
    position: relative;


}


select {
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    padding-left: 10px;
}


option {


    font-weight: normal;
    font-size: 14px;

    width: 100%;
    color: #292D34;

}

.search-result {
    border: 1px solid #E9EBF0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 24px;

    width: auto;
    height: auto;
    background: #FFFFFF;
    padding: 20px;

}

.buttons {float: right;
padding-bottom: 15px;}
.buttons button {
    
    padding-right: 23px;
    padding-left: 23px;
    margin: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #C3C8D2;
    
    height: 32px;
  


    color: #CE7A58;
    border-radius: 4px;
    background-color: #ffffff;

}
.buttons button:hover {
    background-color: #CE7A58;
    border: 1px solid#CE7A58;
    color: #ffffff;
}

.buttons button:focus {
    background-color: #CE7A58;
    border: 1px solid#CE7A58;
    color: #ffffff;
}
.table-options .btnsearch-2 {
    color: #ffffff;
    background-color: #CE7A58;
    border: 1px solid#CE7A58;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding-right: 23px;
    padding-left: 23px;
    margin-left: 0;
    height: 32px;
}
.table-options .btnsearch-2:hover {
    background-color: #d1a28f;
    border: 1px solid #d1a28f;
}
.table-options .btnsearch-2:focus {
    background-color: #d1a28f;
    border: 1px solid #d1a28f;
}
.search-page table {
    margin-top: 30px;
    border: 1px solid #C3C8D2;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 30px;
}
.table th {
    padding: 2px 3px 4px 5px;
    margin: 2px 3px 4px 5px;
    background: #F8E6DE;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    align-items: center;
    text-align: center;

    /* Text/A */

    color: #292D34;

    border: 1px solid #C3C8D2;
    box-sizing: border-box;
}
.table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tr {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    align-items: center;
    text-align: center;

    /* Text/A */

    color: #292D34;
}

.table tr .status-3 {
    color: #219653;
}
.table tr .status-2 {
    color: #FF8C00;
}
.table tr .status-1 {
    color: #ED5050;
}

.table tr .far {
    color: #82858A;
    font-size: 18px;
    line-height: 30px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}
button .fas {

    padding-right: 5px
}
.table tr a {
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    text-decoration-line: underline;

    /* Brand/B */

    color: #903938;
}


.page-control {
    float: right;
}

.page-control .pbage {
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    width: 28px;
    height: 29px;

    align-items: center;

    /* Line/B */
    background-color: #ffffff;
    color: #C3C8D2;
    border: 1px solid #C3C8D2;
    border-radius: 6px;
}

.page-control .pbage:hover {


    align-items: center;

    /* Line/B */
    background-color: #CE7A58;
    color: #FFFFFF;
    border: none;

}

.page-control .pbage:active {


    align-items: center;

    /* Line/B */
    color: #CE7A58;
    background-color: #FFFFFF;
    border: none;

}

.page-control a {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px
}

.page-control input {
    margin-right: 15px;
    width: 93px;
    height: 36px;

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    border: 1px solid #C3C8D2;
    box-sizing: border-box;
    border-radius: 4px;
}

.page-control input::placeholder {
    text-align: center;
}


button:active {
    border: none;
    background-color: #dfccc5;
}


.page-control .bpage:active {
    border: none;
    background-color: #dfccc5;
}
